---
import SearchCityInput from "./SearchCityInput.astro";
import ForecastInfoAside from "./ForecastInfoAside.astro";
import CityInfoAside from "./CityInfoAside.astro";
---

<SearchCityInput />
<button
	id="btn-location"
	class="mt-5 rounded-xl bg-white/5 backdrop-blur-2xl p-3 text-sm text-white/60 hover:bg-white/10 hover:text-white/80 transition-all duration-300"
>
	Share location
</button>
<ForecastInfoAside />
<CityInfoAside />
