---
import { AddFavCity } from "./AddFavCity";
---

<header class="flex flex-row w-full justify-between">
	<div class="flex flex-col text-white/80">
		<p>National</p>
		<p>Weather</p>
	</div>
	<AddFavCity />
</header>
