<button
	id="input-search-city-wrapper"
	class="p-2 flex items-center justify-between gap-4 rounded-md h-10 w-80 bg-white/10 border-2 border-none hover:outline hover:outline-white/50 transition-all duration-75 cursor-pointer"
>
	<i class="fa-solid fa-magnifying-glass"></i>
	<input
		type="text"
		placeholder="Search a city"
		class="caret-white/0 flex-1 bg-transparent outline-none cursor-pointer"
	/>
</button>
