---
import SearchCity from "./SearchCity.astro";
---

<!-- MAIN INPUT -->
<SearchCity />
<!-- MAIN INPUT -->

<!-- MODAL -->
<dialog
	id="modal-search-city"
	class="hide fixed top-0 h-full w-full bg-black/40 flex justify-center items-start pt-40"
>
	<div class="relative w-3/6 p-4 bg-slate-200 rounded-md flex flex-col gap-4">
		<h2 class="text-xl font-semibold">Search for a city</h2>

		<!-- MODAL INPUT -->
		<input
			id="modal-input-search-city"
			type="text"
			placeholder="Enter city name"
			class="p-2 border rounded-md outline-none w-full"
		/>
		<!-- MODAL INPUT -->

		<!-- MODAL AUTOCOMPLETE CONTAINER -->
		<div
			id="match-list"
			class="max-h-48 overflow-y-auto overflow-x-hidden rounded-md bg-white"
		>
		</div>
		<!-- MODAL AUTOCOMPLETE CONTAINER -->
	</div>
</dialog>
<!-- MODAL -->

<script>
	const $mainInputWrapper = document.getElementById(
		"input-search-city-wrapper",
	);
	const $modal = document.getElementById("modal-search-city");
	const $modalInputSearch = document.getElementById(
		"modal-input-search-city",
	) as HTMLInputElement;
	const $matchList = document.getElementById("match-list");

	$mainInputWrapper?.addEventListener("click", (e) => {
		e.preventDefault();
		$modal?.classList.toggle("show");
		resetModalInput();
		$modalInputSearch?.focus();
	});

	$modal?.addEventListener("click", (e) => {
		if (e.target === $modal) {
			$modal.classList.toggle("show");
			$modalInputSearch.value = "";
		}
	});

	window.addEventListener("keydown", (e) => {
		if (e.key === "Escape") {
			$modal?.classList.remove("show");
			$modalInputSearch.value = "";
		}
	});

	const searchCities = async (query: string) => {
		const res = await fetch("http://localhost:3000/cities/allCities");
		const cities = await res.json();

		if (query.trim() == "") {
			clearMatches();
			return;
		}

		let matches = cities.filter((city: any) => {
			return city.ciudad.toLowerCase().startsWith(query.toLowerCase());
		});
		outputHTML(matches);
	};

	const outputHTML = (matches: any[]) => {
		if (matches.length === 0) {
			clearMatches();
		}

		if (matches.length > 0) {
			let html = matches
				.map(
					(match) => `
				<div class="hover:bg-gray-100 p-2 cursor-pointer city-item">
					<a href="/${match.ciudad}" class="text-gray-800 block h-full">
						${match.ciudad}
				</div>
			`,
				)
				.join("");

			if ($matchList) {
				$matchList.innerHTML = html;

				const matchCityItems = $matchList.querySelectorAll(".city-item");
				matchCityItems.forEach((item, index) => {
					item.addEventListener("click", () => {
						console.log(`Ciudad seleccionada: ${matches[index].ciudad}`);
					});
				});
			}
		} else {
			clearMatches();
		}
	};

	const clearMatches = () => {
		if ($matchList) {
			$matchList.innerHTML = "";
		}
	};

	const resetModalInput = () => {
		if ($modalInputSearch) {
			$modalInputSearch.value = "";
		}
		clearMatches();
	};

	$modalInputSearch.addEventListener("input", () =>
		searchCities($modalInputSearch.value),
	);
</script>

<style>
	.hide {
		display: none;
	}

	.show {
		display: flex;
	}
</style>
