<div
	class="flex items-center justify-center w-full p-2 gap-4 border-b border-white hola"
>
	<i class="fa-solid fa-temperature-half text-white/80 text-xl"></i>
	<input
		type="text"
		placeholder="Search for a city"
		class="w-full bg-transparent outline-none text-white placeholder-white/80 text-sm"
	/>
	<i class="fa-solid fa-magnifying-glass text-white"></i>
</div>
